.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix::after{
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}